body {
  background-color: gray;
  color: black;
}
.right-image {
  float: right;
  width: 240px;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
}
/*hi, this is the pseudo-element selector */
h1::after {
  content: " * ";
}
/* this makes the link color change when the mouse hovers over */
a:hover {
  color: purple;
}
/* background color change for table rows that are even */
tr:nth-child(even) {
  background-color: violet;
}
